/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* General Styles */
* {
  box-sizing: border-box;
}

html {
  font: 18px 'Space Grotesk', sans-serif;
}

body {
  background-color: #ccc;
  margin: 0;
}

main {
  align-items: center;
  background: #fff url("../images/bg-main-desktop.png") no-repeat top left/30% 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
}

h2 {
  margin: 3rem 0 0 0;
}

/* Credit Card Styling */
main #front-back-card {
  display: flex;
  flex-flow: column;
  margin: 3rem;
}

/* Front Card */
#card-front {
  align-self: flex-start;
  background: url("../images/bg-card-front.png") no-repeat center/cover;
  border-radius: 15px;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 245px;
  padding: 1rem;
  width: 447px;
}

#card-number {
  font-weight: normal;
  grid-column: 1/-1;
  grid-row: 2/2;
  letter-spacing: 3px;
}

#name,
#expiry {
  grid-row: 3;
}

#expiry {
  text-align: center;
  grid-column: 3;
}

/* Back Card */
#card-back {
  align-self: flex-end;
  background: url("../images/bg-card-back.png") no-repeat center/cover;
  min-width: 447px;
  min-height: 245px;
  position: relative;
}

#card-back span {
  position: absolute;
  right: 3.5rem;
  top: 6rem;
}

/* Form Styling */
form {
  display: flex;
  flex-flow: column;
}

/* Utility Classes */
.card {
  color: #fff;
  margin: .5rem 2rem;
}
