/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* General Styles */
* {
  box-sizing: border-box;
}

html {
  font: 18px 'Space Grotesk', sans-serif;
}

body {
  background-color: #ccc;
  margin: 0;
}

main {
  align-items: center;
  background: #fff url("../images/bg-main-desktop.png") no-repeat top left/35% 100%;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  max-width: 1440px;
}

h2 {
  margin: 3rem 0 0 0;
}

/* Credit Card Styling */
main #front-back-card {
  display: flex;
  flex-flow: column;
}

/* Front Card */
#card-front {
  align-content: center;
  background: url("../images/bg-card-front.png") no-repeat center/cover;
  border-radius: 15px;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: 245px;
  text-align: center;
  width: 447px;
}

#card-front img {
  padding: 1rem;
}

#card-number {
  font-weight: normal;
  grid-column: 1/-1;
  grid-row: 2/2;
  letter-spacing: 3px;
}

#name,
#expiry {
  grid-row: 3;
}

#expiry {
  text-align: center;
  grid-column: 3;
}

/* Back Card */
#card-back {
  align-self: flex-end;
  background: url("../images/bg-card-back.png") no-repeat center/cover;
  margin-left: 6rem;
  min-width: 447px;
  min-height: 245px;
  position: relative;
}

#card-back span {
  position: absolute;
  right: 3.5rem;
  top: 6rem;
}

/* Form Styling */
form {
  color: hsl(278, 68%, 11%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  margin: 1rem 0;
  max-width: 350px;
  padding-right: 2rem;
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 10px;
  color: hsl(270, 3%, 87%);
  margin: .5rem 0;
  padding: 1rem;
  width: 100%;
}

input[type="text"]:focus {
  color: hsl(278, 68%, 11%);
}

input[type="submit"] {
  background-color: hsl(278, 68%, 11%);
  font-size: 18px;
}

label {
  align-self: end;
}

label[for="expiryForm"] {
  grid-column: 1/3;
}

#expiryMonth,
#expiryDay {
 width: 85%; 
 justify-self: start;
}

label[for="cvcNumber"] {
  grid-column: 3/-1;
  grid-row: 5/5;
}

/* Utility Classes */
.card {
  color: #fff;
  margin: .5rem 2rem;
}

.container {
  display: flex;
}

.grid-column-span {
  grid-column: 1/-1;
}
